// begin header 
header.header
    .header__container
        .header__row
            .header__logo
                a.logo(href="/") Mainclaft

            include ../modules/navigation

            // begin sign-in
            button.sign-in.button
                img(src="img/header/sign-in.svg", alt="Sign-in icon")
                span.sign-in__text Войти в аккаунт
            // end sign-in
// end header 