// begin navigation
nav.navigation
    ul.navigation__list.site-list
        li.site-list__item.active
            a.site-list__link(href="/") Главная
        li.site-list__item
            a.site-list__link(href="/") О проекте
        li.site-list__item
            a.site-list__link(href="/") Донат
        li.site-list__item
            a.site-list__link(href="/") Контакты
        li.site-list__item#dropdown-btn 
            a.site-list__link(href="/")
            // begin dropdown
            ul.dropdown
                li.dropdown__item
                    a.dropdown__link(href="/") Навигация
                li.dropdown__item
                    a.dropdown__link(href="/") Бан-лист
                li.dropdown__item
                    a.dropdown__link(href="/") Бан-лист
                li.dropdown__item
                    a.dropdown__link(href="/") Бан-лист
                li.dropdown__item
                    a.dropdown__link(href="/") Бан-лист
                li.dropdown__item
                    a.dropdown__link(href="/") Бан-лист
                li.dropdown__item
                    a.dropdown__link(href="/") Бан-лист
            // end dropdown
// end navigation